@import "~bulma/sass/utilities/initial-variables"

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900')

@import "./variables.sass"

@import "../../components/container.sass"
@import "../../components/button.sass"
@import "../../components/postsList.sass"
@import "../../components/post.sass"
@import "../../components/mainSlides.sass"
@import "../../components/sectionTitle.sass"
@import "../../components/sectionHeader.sass"
@import "../../components/navbar.sass"
@import "../../components/palestra.sass"
@import "../../components/palestraWrapper.sass"
@import "../../components/palestraDetails.sass"
@import "../../components/schedule.sass"
@import "../../components/footer.sass"
@import "./page-atividades"
@import "./page-biblioteca"
@import "./page-contato"
@import "./page-espiritismo"
@import "./page-grupo-musical"
@import "./page-horarios"
@import "./page-palestras"
@import "./page-sobre"
@import "./page-voluntariado"
@import "~bulma"

*
  font-family: 'Montserrat', sans-serif
  font-weight: 300
  font-size: 20px
  line-height: 29px

html
  scroll-behavior: smooth

section
  margin: 20px 0

a
  color: $green
  transition: all 0.2s ease-in-out

  &:hover
    color: #00BF00
    text-decoration: underline


//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter

.menu-label
  font-size: 1em 
  text-align: left
.menu-list
  list-style: none 
  text-align: left
.social
  padding: 2em
.social a
  padding: .5em .5em .3em .5em
  border-radius: 1em
  background-color: $white-ter
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0



#espiritismo
  margin: 40px 0 60px

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  h1 
    text-align: center
    font-size: 1rem
  
  p
    font-size: 0.8rem
    line-height: 20px
  
  a 
    font-size: 0.8rem
    line-height: 20px
    color: $green

  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em

// NEW CSS 
.footer
  background: #eee
  display: flex
  flex-direction: column

.footer-social-media
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 12px
  line-height: 15px
  text-align: center
  .footer-sm-icons
    display: flex
    justify-content: space-between
    align-items: center

.footer-rights
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

// Typography
p 
  margin-bottom: 10px

.bold
  font-weight: $bold

.green
  color: $green

// Page INDEX

.mais-do-cefa
  span
    margin-top: 20px
    line-height: 29px
  
  +mobile
    p
      font-size: 0.8rem
      line-height: 20px
    span
      font-size: 0.8rem
      line-height: 20px
  

// PAGE HORARIOS

.schedule-tabs-wrapper
  display: flex
  flex-direction: column

  .schedule-tabs
    flex: 1
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin: 20px 0

    .schedule-tab
      flex: 1
      width: 100%
      display: block
      border: thin solid $black

      button
        padding: 12px 24px
        width: 100%
        border: thin solid $black
        background: white
        text-transform: capitalize
        font-weight: $bold

        &:focus
          outline: none

      .active-button
        background: $green
        color: white

  .schedule-content
    flex: 1
    width: 100%
    display: flex
    justify-content: left
    align-items: left
    margin: 20px 0
    display: flex
    align-items: stretch

    .schedule-tab
      display: none
      font-size: 1.5rem
      width: 100%
      padding: 30px

      .schedule
        border: thin solid $black
        flex-grow: 1
        width: 100%
        margin: 0 20px
        padding: 20px 30px

        .schedule-list
          display: flex
          flex-direction: column

          h3
            text-transform: capitalize
            font-weight: $bold
            margin-bottom: 20px
            font-size: 1.2rem !important

          li
            margin-bottom: 20px
            p
              font-size: 1rem !important
              span
                font-weight: $bold
                font-size: 1rem !important

    .active-tab
      display: flex
      align-items: stretch
      justify-content: space-between

  +mobile
    max-width: 300px
    margin: 0 auto
    overflow: hidden

    .schedule-tabs
      flex-direction: column

    .schedule-tab
      flex-direction: column
      margin: 10px auto !important
      padding: 0 !important

      .schedule
        margin: 10px auto !important

        .schedule-list
          margin: 10px auto !important

.richText
  white-space: pre-wrap

// PAGE SOBRE

#cefa-about
  
  .container
    > *
      margin: 10px 0

    .index
      display: flex
      flex-direction: column
      border: 1px solid $black
      padding: 20px
      max-width: 350px
      margin: 20px 0
      > *
        margin-bottom: 10px
        font-size: 1rem

      

    #estatuto
      margin-top: 30px

    #regime-interno
      margin-top: 30px

    #localizacao
      margin-top: 30px
      > *
        margin-bottom: 20px

      .social-media-wrapper
        display: flex
        justify-content: flex-start
        align-items: center

        > *
          padding: 10px

// PAGE ATIVIDADES

#atividades-index
  display: flex
  flex-direction: column
  .index
    display: flex
    flex-direction: column

    > *
      display: block
      flex-grow: 1
      white-space: nowrap
      margin: 5px 0

    h3
      font-weight: $bold
  +mobile
    .index
      > *
        white-space: pre-wrap

#atividades-content
  section
    margin: 30px auto
    width: 100%

    .subsectionWrapper

      .subsection
        display: flex
        flex-shrink: 1
        flex-direction: column
        margin-right: auto
        padding: 20px 30px

        .schedule-item
          display: flex
          margin: 10px 0

          p
            margin-right: 10px
            &:first-child
              font-weight: $bold
      .contentWrapper
        margin: 10px 0 20px
  +mobile
    .subsectionWrapper
      .subsection
        padding: 10px !important
        border: thin solid $black
        .schedule-item
          font-size: 1rem !important

  