
// PAGE SOBRE

#cefa-about
  
  .container
    > *
      margin: 10px 0

    .index
      display: flex
      flex-direction: column
      border: 1px solid $black
      padding: 20px
      max-width: 350px
      margin: 20px 0
      > *
        margin-bottom: 10px
        font-size: 1rem

      

    #estatuto
      margin-top: 30px

    #regime-interno
      margin-top: 30px

    #localizacao
      margin-top: 30px
      > *
        margin-bottom: 20px

      .social-media-wrapper
        display: flex
        justify-content: flex-start
        align-items: center

        > *
          padding: 10px
