.main-slide-item
  width: 100vw
  min-height: 300px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .subtitle
    font-weight: 600
    font-size: 1.2rem
    color: #fff

  .bottom
    padding-bottom: 20px

  .title
    color: #fff
    font-weight: 900
    text-transform: uppercase
    font-size: 2rem
    padding: 10px 0

.item-1
  background: url('../../static/img/main-slider-background-1.png') no-repeat
  background-size: cover

.item-2
  background: url('../../static/img/main-slider-background-1.png')  no-repeat
  background-size: cover

.item-3
  background: url('../../static/img/main-slider-background-1.png')  no-repeat
  background-size: cover

@media (max-width: 768px)
  .main-slide-item
    > *
      max-width: 300px
      margin: 0 auto

    .title
      font-size: 1.5rem
    
    .subtitle
      font-size: 0.8rem