.palestra
  text-decoration: none
  background: white
  list-style: none
  button
    background: none
    display: flex
    flex-direction: column
    padding: 10px 20px
    border: 1px solid #0001
    box-shadow: 1px 3px 10px #0003
    width: 300px
    text-align: left
