.palestra
  position: relative
  text-decoration: none
  background: white
  list-style: none
  width: 100%
  width: 320px

  button
    background: none
    display: flex
    flex-direction: column
    padding: 20px 30px
    border: 1px solid #0001
    box-shadow: 1px 3px 10px #0003
    width: 320px
    margin: 0
    text-align: left

    p
      white-space: nowrap
      font-size: 1rem
      margin-bottom: 10px

      strong
        font-size: 1rem
  
@media (max-width: 768px)
  .palestra
    button
      margin: 20px auto

  


