.section-title
  position: relative
  font-weight: 600
  font-size: 1.2rem
  margin-bottom: 30px
  display: block

  &::after
    content: ''
    position: absolute
    bottom: -10px
    left: 0
    display: inline-block
    width: 34px
    height: 3px
    background: black

.big
  font-size: 1.6rem

  &::after
    width: 46px
    height: 5px

.small
  font-size: 1rem

  &::after
    width: 20px
    height: 2px
